@model MaisonReve.Database.Models.RentingLot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentingLot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentingLotType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentingLotType)
        </dd>
        <dt class = "col-sm-2">
          
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10"> 
             <a asp-controller="Buildings" asp-action="Details" asp-route-id="@Model.BuildingId">@Model.Building.Name</a>
      
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
